.clearfix {
    content: "";
    display: block;
    clear: both;
    padding-top: 0;
    padding-bottom: 4rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

h1.footerlogo{margin-top: 0%;
    padding-top: 0%;
    float: left;
    font-family: 'Sofia', cursive;
}

footer {
    
    background: linear-gradient(125deg, #CBD5EE, #EEEEEE);
    
    padding:4rem 0;

}

footer ul {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0.5cm;
    float: right ;
}

footer li {
    margin: 0 12px;
    
}

.textfont {
    font-family: '游';
}