{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>title</title>
    <meta charset="utf-8">
    <link href="{% static 'teamapp/css/index.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'teamapp/js/index.js' %}" ></script>
</head>

<body>
    <h1>team project</h1>
    <p></p>
    

    <br>
    <div>
      <a href="{% url 'index' %}?sort=date">Sort by Date</a>
      <a href="{% url 'index' %}?sort=like">Sort by Like</a>
      <a href="{% url 'post' %}">投稿</a>
    
    </div>
    {% if articles %}
    {% for article in articles %}
    <div class="text">
    <small>[{{ article.posted_at }}]</small>
    <div>
      <a href="" onclick="like({{article.id}});">
        Like: <span id="like{{article.id}}">{{ article.like }}</span>
      </a>
    </div>
    <div>
      {{ article.body | linebreaksbr }}
    </div></div>
    {% endfor %}
    {% else %}
    <h2>No article.</h2>
    {% endif %}
  </body>
</html>