{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>title</title>
    <meta charset="utf-8">
    <link href="{% static 'teamapp/css/index.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'teamapp/js/index.js' %}" ></script>
</head>

<body>
    <h1>team project</h1>
    <p></p>
    

    <br>
    <div>
      <a href="{% url 'index' %}?sort=date">Sort by Date</a>
      <a href="{% url 'index' %}?sort=like">Sort by Like</a>
      <a href="{% url 'post' %}">投稿</a>
      <a href="{% url 'registration' %}">新規登録</a>
      {% if user.is_anonymous %}
      <a href="{% url 'Login' %}">ログイン</a>
      {% else %}
      {% endif %}
      {% if user.is_anonymous %}
      <h1><font color="red">ゲスト</font>さんようこそ！！</h1>
      {% else %}
      <h1><font color="red">{{ UserID }}</font>さんようこそ！！</h1>
      <p> ログアウトは
        <a href="{% url 'Logout' %}">こちら</a>
        </p>
      {% endif %}
    </div>
    {% if articles %}
    {% for article in articles %}
    <div class="text">
    <!--アカウント追加-->
    <div>
    {% if article.post_user %}
    {{ article.post_user }}
    {% endif %}
    </div>
    <small>[{{ article.posted_at }}]</small>
    <div>
      <a href="" onclick="like({{article.id}});">
        Like: <span id="like{{article.id}}">{{ article.like }}</span>
      </a>
    </div>
    <div>
      <img src=../{{ article.image }} alt="">
    </div>
    <div>
      {{ article.body | linebreaksbr }}
    </div></div>
    {% endfor %}
    {% else %}
    <h2>No article.</h2>
    {% endif %}
  </body>
</html>