{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>title</title>
    <meta charset="utf-8">
    <link href="{% static 'teamapp/css/index.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'teamapp/js/index.js' %}" ></script>
</head>

<body>
    
      <h1>team project</h1>
      <p>You can submit articles from the following form.</p>
      <h1><font color="red">{{ UserID }}</font>として投稿します。</h1>
      <form action="{% url 'post' %}" class="post-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <button type="submit" class="save btn btn-default">Submit</button>
        </div>    
      </form>
  </body></html>