<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">

<head>
<meta charset="utf-8">
<title>register</title>
<link rel="stylesheet" href='{% static "teamapp/css/regester.css" %}'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/89aa44206f.js" crossorigin="anonymous"></script>
    <script>
      (function(d) {
        var config = {
          kitId: 'opa6qnt',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
</script>
</head>

<body>
  <footer class="clearfix">
    <h1 class="footerlogo">team project</h1></footer>
<h1>新規登録</h1>

 {% if AccountCreate %}
   <h1>登録完了!</h1>

 {% else %}
   <div class="reg">
   <table class="reg_form">

   <form enctype="multipart/form-data" method="post">
   {% csrf_token %}
   {{ account_form.as_table }}
   {{ add_account_form.as_table }}
   <tr><td></td><td>
   <input class="btn" type="submit" name="" value="登録">
   </td></tr>
   </form>

   </table>
   </div>
 {% endif %}

</body>
</html>