{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>title</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">
    <link href="{% static 'teamapp/css/index.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'teamapp/js/index.js' %}" ></script>
    <script src="https://kit.fontawesome.com/89aa44206f.js" crossorigin="anonymous"></script>
    <script>
      (function(d) {
        var config = {
          kitId: 'opa6qnt',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>

<body>
  <footer class="clearfix">
    <a href="{% url 'index' %}"><h1 class="footerlogo">Team project</h1></a>
    <ul class="footer-nav" style="margin-top: 6px;">
      {% if user.is_anonymous %}
      <li class="rightyose"><font color="006CC9">ゲスト</font></li>
      {% else %}
      <li class="rightyose"><font color="006CC9"><a href="{% url 'userpage'%}?userpageid={{ UserID }}">{{ UserID }}</font></a></li>
      {% endif %}
      <li class="rightyose"><a href="{% url 'post' %}"><i class="fas fa-pen"></i></a></li>
      <li class="rightyose"><a href="{% url 'registration' %}">新規登録</a></li>
      {% if user.is_anonymous %}
      <a href="{% url 'Login' %}">ログイン</a>
      {% else %}
      <a href="{% url 'Logout' %}">ログアウト</a>
      {% endif %}
    </ul>
  </footer>
    <p></p>
    

    <br>
    <div class="textfont">
      <div class="blockleft">
     </div>
      <div class="blockright">
      <ul class="menu">
        <li><a href="">並び順    <i class="fas fa-chevron-down" id="down"></i></a>
           <ul>
            <li class="rightyose"><a href="{% url 'userpage' %}?sort=date&userpageid={{ UserID }}">投稿順</a></li>
            <li class="rightyose"><a href="{% url 'userpage' %}?s'ort=like&userpageid={{ UserID }}">いいね順</a></li>
           </ul>
        </li>
      </ul>
    </div>
    {% if articles %}
    {% for article in articles %}
    <div class="text">
    <!--アカウント追加-->
    <div class="bordersolid">
    <div>
    <a href="{% url 'userpage'%}?userpageid={{article.post_user}}">{{ article.post_user }}</a>
    </div>
    <small>[{{ article.posted_at }}]</small>
    
    <div>
      <img class="img-size" src={{ article.image }} alt="">
    </div>
    <div>
      {{ article.body | linebreaksbr }}
    </div>
    <a href="" class="like" onclick="like({{article.id}});">
      <i class="fas fa-heart" id="heart"></i><span id="{{article.id}}">{{ article.like }}</span>
    </a>
      
    </div></div>
    {% endfor %}
    {% else %}
    <h2>まだ何も投稿されていません!</h2>
    {% endif %}
  </div>
  <a href="{% url 'index' %}" id="page-top">topへ</a>
  </body>
</html>