h1{
    text-align: center;
  }
  
  div.reg{
    background-color: #EEEEEE;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  table.reg_form{
    width: 100%;
    border-spacing: 10px 30px;
    padding-left:20px;
  }
  
  .btn{
      color: #fff;
      background-color: #000033;
      font-size: 1.0em;
      padding: 10px 30px;
      margin-left: 80%;
  }
  
  .btn:hover{
    color: #fff;
    background: #6060f3;
  }

  h1.footerlogo{margin-top: 0%;
    padding-top: 0%;
    float: left;
    font-family: 'Sofia', cursive;
}

footer {
    
    background: linear-gradient(125deg, #CBD5EE, #EEEEEE);
    
    padding:4rem 0;

}

.clearfix {
  content: "";
  display: block;
  clear: both;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.textfont {
  font-family: kinto-sans,sans-serif;
  font-weight: 500;
  font-style: normal;
}